@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Optimize-ADM Shared Components</h1>

This Blaazor App is a collection of the most common components that I use in my projects.

<SurveyPrompt Title="How is Blazor working for you?" />
